<%- include('templates/header', { title: 'Dashboard' , loggedIn, username }) %>
    <main class="container my-4">
        <!-- Main Content -->
        <div class="bg-white rounded shadow-sm p-4">
        </div>
    </main>
    <%- include('templates/footer') %>