<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>
    <%= title || "COMP4921 Project 3" %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
  <script src="https://cdn.jsdelivr.net/npm/cloudinary-jquery@2.11.3/cloudinary-jquery.min.js"></script>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
    <div class="container">
      <a class="navbar-brand" href="/">Project3</a>
      <a class="navbar-brand" href="/friends">Friends</a>
      <div class="d-flex align-items-center">
        <% if (loggedIn) { %>
          <span class="me-2 text-white">
            Welcome, <strong class="text-warning">
              <%= username %>!
            </strong>
          </span>
          <a href="/profile" class="btn btn-outline-light btn-sm me-2">
            <i class="fa-solid fa-user"></i> Profile
          </a>
          <a href="/logout" class="btn btn-outline-danger btn-sm">Logout</a>
          <% } else { %>
            <a href="/login" class="btn btn-outline-primary btn-sm me-2">Login</a>
            <a href="/signup" class="btn btn-primary btn-sm">Sign Up</a>
            <% } %>
      </div>
    </div>
  </nav>